.env
firebase-debug.log
node_modules/

# Ignore Excel and HTML reports outside android_app/reports/
**/reports/*.xlsx
**/reports/*.html
!android_app/reports/E2E_SkillSync_Appium_Test_Cases.xlsx
!android_app/reports/appium-report.html
!android_app/reports/appium-report.xlsx
